label{
    display: block;
    margin: 1rem;
}
.nivel-segura{
    color : green;   
}
.nivel-media{
    color: orange;
}

.nivel-debil{
    color:red;
}

.coinciden{
    color:green;
}
.distintas{
    color :red;
}

.user-invalid{
    color : red;
}
body{
    background-color: lightgrey;
}

.user-valid{
    color: green;
}
label{
    font-family: Arial, Helvetica, sans-serif;
}