#contenido { 
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFFFF0;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}
#tabla-indice{
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fdfde7;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}
p{
    text-align: justify;
}
h1{
    color: red;
    margin-bottom: 5px;
}
h2{
    color : lightseagreen;
    margin-bottom: 5px;
}
h3{
    color:#9BCD47;
    margin-bottom: 5px;
}
h4{
    color:#ca4866;
    margin-bottom: 5px;
}
h5{
    color:rgba(24, 55, 220, 0.96);
    margin-bottom: 5px;
}
table {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
    margin: 45px;     width: 480px; 
    text-align: left;    
    border-collapse: collapse; 
}

/*th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039;  
    text-align: center;
}

td {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent;
    text-align: center;
}

tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}*/
table th {
    background-color: rgba(213, 220, 132, 0.76); 
    text-align: center;
    font-size: 15px;
}

table tr:nth-child(odd) {
    background-color: #F0EEEE;
    text-align: center;
    font-size: 15px;
}

table tr:nth-child(even) {
    background-color: #C8CCFF;
    text-align: center;
    font-size: 15px;
}
#titulo-indice{
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #000000;
    font-size: 50px;
}
a{
    color:red
}