*{
    margin : 0;
    padding: 0;
}

.contenedor{
    width: 80%;
    margin: 0 auto;
}

p{
    text-align: justify;
}

h1{
    color : purple;
    text-align: center;
}

@media screen and (min-width: 500px){
    .contenedor{
        background-color: #670000
    }
    p{
        color:white;
    }
}
@media screen and (max-width: 499px){
    .contenedor{
        background-color: gray
    }
    p{
        color:red;
    }
}