#principal{
    width: 800px;
}

#encabezado{
    background: #9C9C9C;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 30px;
    color:white;
}
#lateral-izquierdo{
    background-color :white;
    margin-top: 0px;
    float:left;
    width:650px;
}
#lateral-derecho{
    background-color: #EDAB90;
    width: 350px;
    float: left;
    margin:0px;
}

#pie{
    background: #9C9C9C;
    padding: 30px;
    color:white;
    text-align: center;
    clear: left;
    font-size: 30px;
}
body{
    margin-left: 200px;
    margin-right: 200px;
    font-family: sans-serif;
}
<<<<<<< HEAD
=======
p{
    margin: 10px;
}
div > h1{
    margin: 15px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #3262F4;
}
>>>>>>> 7668bea1a6cf75a7db53473f92ae8dffcfe88b89
