

body{
    background-color: #aaa;
}
div{
    background-color: white;
}

@media screen and (max-width: 25rem){
    .tablet, .desktop, .smarttv{
        display: none;
    }
    html{
        font-size: 50%;
    }
}

@media screen and (min-width: 25rem) and (max-width:50rem)
{
    .movil, .desktop, .smarttv{
        display: none;
    }
    html{
        font-size: 100%;
    }
}

@media screen and (min-width: 50rem) and (max-width:75rem)
{
    .movil, .tablet, .smarttv{
        display: none;
    }
    html{
        font-size: 150%;
    }
}
@media screen and (min-width: 75rem) and (max-width:100rem)
{
    .movil, .tablet, .desktop{
        display: none;
    }
    html{
        font-size: 200%;
    }
}

.contenedor{
    width: 1200px;
    background-color: white;
    margin: 0 auto;
}

p{
    border : 0.0625, solid black;
    padding: 1.25rem;
}
