*{
    margin: 0;
    padding: 0;
}
.contenedor{
    width: 100%;
    background-color: blue;
}

@media print {
    .contenedor {
        color:blue;
    }
}



@media screen and (min-width:600px){
    .contenedor{
        background-color: #aaa;
    }

}

@media screen and (min-width: 700px)
{
    .contenedor{
        background-color: lightblue;
    }
}

@media screen and (min-width: 800px)
{
    .contenedor{
        background-color: aqua;
    }
}

@media screen and (max-width:500px){
    .contenedor{
        background-color:yellow;
    }

}