*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
h1{
    color : rebeccapurple;
}
tr{
    padding: 1rem;
    text-transform: uppercase;
    /*border-bottom: 1px solid black;*/
}
th{
    text-align: center;
    border-bottom: 1px solid black;
}
td{
    text-align: center;
    width: 25%;
    border: 1px solid #000;
}

table{
    margin:  0 auto;
    width: 50%;
    /*border: 1px solid black*/
    border-collapse: collapse;
}
